<div class="container">
  <div class="row">
    <div class="col text-center">
      <!-- Secara default, express melindungi file statis seperti file gambar, musik, video -->
      <!-- Untuk bisa mengakses asset" itu, kita perlu memberitahu expressnya kalau kita punya folder pub yg isinya file statis yg boleh diakses oleh siapapun -->
      <!-- Kita bisa menggunakan middleware build-in yg namanay express.static -->
      <img src="img/shiroko-1.jpg" alt="shiroko" class="img-thumbnail rounded-circle" width="200">
      <!-- Kalau sudah ada di folder public, tidak perlu menulis folder publicnya, langsung img/shiroko-1.jpg -->

      <h1 class="display-4">Yefta Asyel</h1>
      <p class="lead">Otaku gamer and anime lover</p>
    </div>
  </div>
</div>